<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update a New User</h1>
    <a href="/users">Home</a>
    <form action="/updated/user" method="post">
        <input type="hidden" name="id" value="{{id.id}}"/>
        <!-- ON VALUE FIRST I IS A VARIABLE AND 2ND ID IS WHAT WE HAVE IT EQUAL TO IN QUERY 
        TELLING IT TO LOOK INTO OUR MODEL QUERY AND GRAB THIS ID -->
        <label for='full_name'>First Name</label>
        <input  type='text' name='full_name'>
        <label for='email'>Email</label>
        <input  type='text' name='email'>
        <input type='submit' value="Create">
        
    </form>
</body>
</html>